<div class="big-container">
  <div class="info-container">
    <div class="img-div">
      <img src="../../assets/coach-silhouette2.jpg" alt="silhouette2">
    </div>
    <div class="text-container"> 
      <h1>Welcome to our Coach Page</h1>
      <p>This is some information about our website or organization. You can use this space to provide details about
        your services, mission, or any other relevant information.</p>
  
      <h2>About Us</h2>
  
      <p>We are a dedicated team working towards making decision taking easier</p>
  
      <h2>Our Services</h2>
  
      <p>We offer a range of services including keeping an eye on your team when or where you want.</p>
  
      <div class="important-note">
        <h2>Important Note</h2>
        <p>Make sure to highlight any crucial information in a way that it catches the user's attention.</p>
      </div>
  
      <h2>Contact Us</h2>
  
      <p>For any inquiries or feedback, please feel free to contact us at <a
          href="mailto:giuran.radu@yahoo.com">giuran.radu@yahoo.com</a>.</p>
    </div>
   
    <div class="img-div">
      <img src="../../assets/coach-silhouette3.jpg" alt="silhouette3">
    </div>
  </div>
</div>