<div class="secondary-navbar-container">
  <div class="image-div">
    <img src="../../../assets/coach-silhouette3.jpg" alt="antrenori">
  </div>
  <ul>
    <li><a href=""  routerLinkActive="active" routerLink ='seeAllCoaches'>See All Coaches</a></li>
    <li><a href="" routerLinkActive="active" routerLink ='seeAllPlayers'>See All Players</a></li>   
    <li><a href="" routerLinkActive="active" routerLink ='revealWinner'>Reveal Winner</a></li>   
  </ul>
  <div class="image-div">
    <img src="../../../assets/player3.jpg" alt="jucatori">
  </div>
</div>
<div class="main-page-div">
  <div class="container">
    <header>
        <h1>Football Tactics and Player Importance</h1>
    </header>

    <section class="section">
        <h2>Football Tactics</h2>
        <p>Football tactics refer to the various strategies and formations used by teams to gain an advantage over their opponents during a match. These tactics involve the positioning and movement of players on the field.</p>
        <div class="image-container">
            <img src="../../../assets/tactics-image.jpg" alt="Football Tactics">
        </div>
    </section>

    <section class="section">
        <h2>Player Importance</h2>
        <p>Each player in a football team plays a crucial role in the overall performance of the team. Their individual skills, teamwork, and understanding of the tactics contribute to the success of the team.</p>
        <div class="image-container">
            <img src="../../../assets/player-tactic.jpg" alt="Football Player">
        </div>
    </section>

    <section class="section">
        <h2>Explore More</h2>
        <p>Learn about different football formations, strategies, and the key attributes of players that make them effective on the field.</p>
        <p><a href="https://www.buildlineup.com/" target="_blank">Formations</a></p>
        <p><a href="https://www.ertheo.com/blog/en/elements-success-in-football/" target="_blank">Key Attributes</a></p>
    </section>
</div>
</div>